body{
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
}
/*
	$color: #C0D1EE;
*/
/* Change the white to any color ;) */
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px rgba(255,255,255,0) inset !important;
}
.form-control:focus {
	border-color: transparent;
	border-bottom: 1px solid #282c59;
	outline: 0;
	 -webkit-box-shadow: none;
	 box-shadow: none;
}
.layout {
	overflow:hidden;
}
a:focus {
	outline:none;

}
label {
	font-family: 'Open Sans';
	font-weight:600;
	font-size:13px;

}
.page-title {
	padding:15px 0px 25px;

}
.form-control {

	box-shadow:none;
	height:42px;
	border: 1px solid #f3eeee;
	color:#acacac;
	font-family: 'Open Sans';
	font-weight:600;
	font-size:13px;
}
.logo {
	z-index: 55;
	margin: 0px 15px 0px 0px;
	padding: 0px;
	line-height: 1;
	font-size: 55px;
	border: none;
	float: left;


}
.logo img {
	width: 200px;
	max-width:100%;
	padding-top: 17px;
	padding-bottom: 15px;

}
header {
	background: #C0D1EE;
	background-image: url("../images/register-bg.jpg");
	background-size: cover;
	background-position: center;
}


.navigation {
	float:right;
	width:100%;
	margin-right:-32%;
	margin-top: 58px;
	margin-bottom: 58px;
	/*box-shadow: 0px 4px 1px 0px #e19e9a;*/
}
.navbar {
	margin-bottom:0px;
	background-color: #282c59;
	border: none;
	border-radius: 10px
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: #fff;
	 background-color: transparent;
}
.box-log-reg {
	position:relative;


}
.box-log-reg ul {
	position:absolute;
	margin:0px;
	top:16px;
	right:0;

}
.box-log-reg ul li a i {
	padding-right:5px;

}
.box-log-reg ul li a , .box-log-reg ul span {

	/*color:#b74e48;*/
	color: #ffffff;
}
.keep-login label span {
	display:block;
	color:#acacac;
	font-size:12px;

}
.modal-body {
	padding:0;

}
.modal-login {
	padding:30px 0;

}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
	padding-bottom: 8px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}
.modal-title-1 {
	margin: 0 0 20px 0;
	line-height: 0;
	padding: 0 0 20px 0;
	border-bottom: 1px solid #ddd;
	font-size: 20px;
}
.modal-header {
	border:none;

}
.search-box {
	background:#fff;
	padding:20px;
	border-radius: 10px;

}
.slider {
	/*background: #C0D1EE;*/
	padding-bottom:110px;
	position:relative;
}
.select {
	position:relative;
}

select {
	background-image: url(../images/arrow.png) !important;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	appearance: none;
	/* outline-width: 0; */
	background-position: 98% 50%;
	/* background-size: cover; */
	background-repeat: no-repeat;

}
.year-month-day select ,.age-limit select{
	background-image: url(../images/duble-arrow.png) !important;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-position: 92% 50% !important;
	background-repeat: no-repeat;

}
.custom-shape{
	z-index: 2;
	pointer-events: none;
}
.custom-shape {
	overflow: hidden;
	position: absolute;
	left: 0;
	width: 100%;
	line-height: 0;
	direction: ltr;
}
.custom-shape  {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.custom-shape {
	bottom: -1px;
}


.custom-shape svg {
	height: 120px;
}

.custom-shape svg {
	display: block;
	width: calc(100% + 1.3px);
	position: relative;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}


.custom-shape .shape-fill {
	fill: #fff;
	-webkit-transform-origin: center;
	-ms-transform-origin: center;
	transform-origin: center;
	-webkit-transform: rotateY(0deg);
	transform: rotateY(0deg);
}
.custom-shape .shape-fill {
	transform: rotateY(180deg);
}

.custom-btn {
	margin:10px 0 0;
	padding:8px 40px;
	border-radius:20px;

}
.custom-btn-primary {
	background:#282c59;
	border-color: #282c59;
	color:#fff;


}
.custom-btn-primary i {
	padding-right:10px;
	margin-top:-1px;


}
.custom-btn-primary:hover {
	color:#fff;

}
.btn-edn{
	color: #fff;
	background-color: #5cb85c;
	border: none;
	border-radius: 20px;
	float: right;
	display: table-header-group;
	margin-top: -16px;
	width: 80px;
	font-weight: 300;
}
.btn-edn:hover{
	color: #fff;
	text-decoration: none;
}
.box-text p{
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}
/* Members  */
.login-hd{
	font-size: 34px;
	color: #ffffff;
	text-align: center;
	padding: 100px 0;
	font-weight: 200;
}
.login-hd > span {
	font-size: 60px;
	font-weight: 600;
}

.form-box{
	background: #fff;
	width: 100%;
	height: 610px;
	display: block;
}
.form-box-login{
	background: transparent;
	width: 100%;
	height: 450px;
	display: block;
}
.wt-bg{
	background-color: rgba(255,255,255,0.7);
	border: 2px solid #dddddd;
	/*-webkit-box-shadow: 0 10px 6px -6px #777;*/
	/*-moz-box-shadow: 0 10px 6px -6px #777;*/
	/*box-shadow: 0 10px 6px -6px #777;*/

}
.form-control{
	border-bottom: 1px solid #282c59;
	border-top: none;
	border-left: none;
	border-right: none;
	border-radius: 0;
	color: #000;
	padding: 10px 0;
	background-color: rgba(255,255,255,0);
}
.member {
	overflow:hidden;
	position: relative;
	margin-bottom:20px;


}
.member-pic {
	position: relative;
	background: #ddd;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	overflow: hidden;

}
.member-pic img {
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	width:100%;
	webkit-transition: all .7s ease-in-out;
	-moz-transition: all .7s ease-in-out;
	-o-transition: all .7s ease-in-out;
	transition: all .7s ease-in-out;

}
.member-pic img:hover {
	opacity: 0.4;
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);

}
.members-functions {
	position: absolute;
	bottom: 10px;
	left:10px;


}
.members-functions > div {
	display:inline-block;
	margin-right:4px;
	background:rgba(0,0,0,.4);
	padding:1px 14px 3px 14px;
	border-radius:17px;

}
.members-functions > div a {
	color:#fff;
	font-size:11px;
	font-weight: 300;
}
.members-functions > div a span {
	padding-left:5px;

}
.members-caption {

	padding:20px 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	background: #eee;
}
.members-caption > p{
	color: #808080;
	font-weight: 300;
	margin: 0;
}
.members-caption .member-name {
	margin:0;
	margin-bottom:15px;
	font-size: 17px;
	font-weight: 400;
}
.members-caption .member-name > a{
	color: #282c59;
}
.online-offline {
	position: relative;
	top: 4px;
	font-size: 14px;
}
.online-offline .offline {
	color:#ccc;


}
.online-offline .online {
	color:#4fc401;


}
.search-section{
	margin: 30px 0;
}
/* Sidebar of Members */
.widget {
	padding: 15px 20px;
	background: #eee;
	border-radius: 15px;
	margin-bottom: 40px;
	color: #282c59;
}
.age-limit label {
	display:block;
	padding-left:15px;

}
.age-limit div[class*='col-']:nth-of-type(1) {
	padding-right: 5px;


}

.age-limit div[class*='col-']:last-child {
	padding-left: 5px;


}
.advance-search .checkbox, .advance-search  .radio {
	margin:0;



}
.advance-search form {
	padding-top:20px;

}
.widget-title {
	border-bottom:1px solid #ddd;
	margin-bottom:0;
	padding-bottom:10px;
	color: #282c59;
	font-size: 16px;


}
.widget-title span {
	font-size:14px;
	font-weight: 400;
}

.popular-matches {
	padding: 35px 0px;

}
.popular-matches .widget-title {
	margin-left:30px;
	margin-right:30px;

}
.popular-matches ul li a  {
	color:#222;
	padding:10px 30px;
	display:block;


}
.popular-matches ul li a:hover {
	background: #282c59;
	color:#fff;
	text-decoration:none;
}
.popular-matches ul li:first-child {
	margin-top:5px;

}
#upload-file{
	display:none;
}
.popular-matches ul li a i {

	padding-right:20px;

}
.member-avatar {
	height: 102px;
	width: 102px;
	background: #fff;
	padding: 25px;
	border-radius: 100%;
	margin: auto;
	position:relative;
	border: 2px solid #ddd;
	margin-bottom:20px;
}
.avatar-icon {
	position: absolute;
	right: 10px;
	bottom: 30px;
	background: #282c59;
	/* padding: 5px; */
	border-radius: 50%;
	height: 28px;
	width: 28px;
	color: #fff;
	line-height: 28px;
}



@media (max-width:992px) {

	.age-limit select {

		background-position: 97% 50% !important;

	}

}

@media (max-width:768px) {
	header .container {
		width:100%;
	}
	.logo img {
		display:none;

	}
	.navigation {
		float:none;
		margin-right:0px;
		box-shadow:none;
		margin:10px 0px;
	}
	.navigation .navbar-inverse{
		background:transparent;
		border-color:transparent;



	}
	.navbar-brand {
		padding:0px;
		height:60px;

	}
	.navbar-brand  img {
		width:130px;
		padding:0px;


	}
	.navbar-toggle {
		margin-top:12px;
		margin-bottom:12px;
		border-color:transparent !important;

	}
	.navbar-inverse .navbar-toggle .icon-bar {
		background:blue;

	}
	.navbar-inverse .navbar-toggle {

		background:transparent !important;

	}
	.year-month-day select {
		background-position: 98% 50% !important;


	}
	.modal-login {
		padding:15px 0px 15px 0px;

	}
	.box-log-reg ul {
		top:4px;
		z-index:1;

	}
	.popup-banner img {
		display:none;


	}
	.navbar-inverse .navbar-collapse {
		background: rgb(221, 221, 221);
		position: absolute;
		width: 100%;
		z-index: 777;


	}
	.age-limit div[class*='col-']:nth-of-type(1) {
		padding-right: 15px;


	}

	.age-limit div[class*='col-']:last-child {
		padding-left: 15px;


	}
	.age-limit select {

		background-position: 98% 50% !important;

	}

}
@media(min-width:768px) {

	a.navbar-brand {
		display:none;


	}


}
@media (max-width:480px) {
	.members .row div[class*='col-'] {
		width:100%;

	}


}
@media (max-width:412px) {
	.year-month-day div[class*='col-'] {
		width:100%;

	}


}

.hd-1{
	font-size: 24px;
	font-weight: 400;
	color: #282c59;

}
.hd-2{
	font-size: 16px;
	font-weight: 400;
}
.hd-3{
	font-size: 18px;
	font-weight: 300;
	color: #fff;
}

.txt-1{
	font-size: 15px;
	color: #a3a8d9;
	font-family: 'Open Sans';
}
.how-it-work{
	padding: 60px 0;
}
.howitwork-list{
	padding: 0;
}
.howitwork-list > li{
	display: block;
}
.howitwork-icon{
	display: inline-block;
	width: 100px;
	height: 100px;
	float: left;
	padding: 15px;
}
.howitwork-icon > i {
	background-color: #C0D1EE;
	padding: 20px;
	color: #fff;
	width: 68px;
	height: 68px;
	font-size: 24px;
	border-radius: 100px;
}
.howitwork-details{
	display: inline-block;
	height: 100px;
	float: left;
	padding: 15px;
	width: 76%;
}

.howitwork-details > h2 {
	margin: 0 0 15px;
}
.how-it-work-photo{
	width: 100%;
	position:relative;
	text-align: center;
}
.how-it-work-photo > img {
	width: 100%;
}

/* Testimonail */
.testiminials{
	padding: 60px 0;
}
.carousel-indicators .active {
	background:  #31708f;
}
.content {
	margin-top: 20px;
}
.adjust1 {
	float: left;
	width: 100%;
	margin-bottom: 0;
}
.adjust2 {
	margin: 0;
	font-size: 24px;

}
.carousel-indicators li {
	border : 1px solid #ccc;
}
.carousel-control {
	color: #31708f;
	width: 5%;
}
.carousel-control:hover,  .carousel-control:focus {
	color: #31708f;
}
.carousel-control.left,  .carousel-control.right  {
	background-image:  none;
}
.media-object {
	margin: auto;
	margin-top: 15%;
	border-radius: 50%;
}
blockquote {
	padding: 10px 0;
	margin: 0;
	font-size: 14px;
	border-left: none;
}
@media screen and (max-width: 768px)  {
	.media-object {
		margin-top: 0;
	}
}
/* Testimonail */

.what-we-do{
	background-color: #282c59;
	padding: 60px 0;
}
.wwd-1{
	background-image: url(../images/01.png);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 24px 0 0 56px;
}
.wwd-2{
	background-image: url(../images/02.png);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 24px 0 0 56px;
}
.wwd-3{
	background-image: url(../images/03.png);
	background-position: top left;
	background-repeat: no-repeat;
	padding: 24px 0 0 56px;
}
/* Footer */

footer { background-color:#282c59; min-height:350px; font-family: 'Open Sans'; }
.footerleft { margin-top:50px; padding:0 36px; }
.footerleft p { color:#fff; font-size:13px !important; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}




.icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
.icon-ul li { line-height:75px; width:100%; float:left;}
.icon { float:left; margin-right:5px;}

.language { min-height:70px; background-color:#C0D1EE;}

.copyright { min-height:40px; background-color:#fff;}
.copyright p { text-align:left; color:#282c59; padding:10px 0; margin-bottom:0px;}
.heading7 {
	font-size:18px;
	font-weight:300;
	color:#FFF;
	margin-bottom:22px;
	font-family: 'Montserrat', sans-serif;
}
.post p {
	font-size:13px;
	color:#FFF;
	line-height:20px;
	font-family: 'Open Sans';
}
.post p span { display:block; color:#8f8f8f;}
.bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
.bottom_ul li { float:left; line-height:40px;}
.bottom_ul li:after { content:"/"; color:#8f8f8f; margin-right:8px; margin-left:8px;}
.bottom_ul li a { color:#8f8f8f;  font-size:13px;}


/* Steps */
.board{
	width: 100%;
	margin: 0 auto;
	/*height: 500px;*/
	/*background: #fff;*/
	/*box-shadow: 10px 10px #ccc,-10px 20px #ddd;*/
}
.board .nav-tabs {
	position: relative;
	/* border-bottom: 0; */
	/* width: 80%; */
	margin: 0 auto;
	box-sizing: border-box;
	border: none;

}

.board > div.board-inner{
	/*background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);*/
	/*background-size: 30%;*/
}

p.narrow{
	width: 60%;
	margin: 10px auto;
}

.liner{
	height: 2px;
	background: rgba(221, 221, 221, 0.3);
	position: absolute;
	width: 80%;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 50%;
	z-index: 1;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: default;
	/* background-color: #ffffff; */
	border: 0;
	border-bottom-color: transparent;
}

span.round-tabs{
	width: 50px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	border-radius: 100px;
	background: #dddddd;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
	font-size: 20px;
}

span.round-tabs.one{
	/*color: rgb(34, 194, 34);*/
	/*border: 2px solid rgb(34, 194, 34);*/
	color: #999;
	border: 2px solid #999;

}

li.active span.round-tabs.one{
	background: #3e5e9a !important;
	border: 2px solid #3e5e9a;
	color: #dddddd;
	/*color: rgb(34, 194, 34);*/
}

span.round-tabs.two{
	/*color: #febe29;*/
	/*border: 2px solid #febe29;*/
	color: #999;
	border: 2px solid #999;
}

li.active span.round-tabs.two{
	/*background: #3e5e9a !important;*/
	/*border: 2px solid #ddd;*/
	/*color: #febe29;*/

	background: #3e5e9a !important;
	border: 2px solid #3e5e9a;
	color: #dddddd;
}

span.round-tabs.three{
	/*color: #3e5e9a;*/
	color: #999;
	border: 2px solid #999;
}

li.active span.round-tabs.three{
	background: #3e5e9a !important;
	border: 2px solid #3e5e9a;
	color: #dddddd;
}

span.round-tabs.four{
	/*color: #f1685e;*/
	color: #999;
	border: 2px solid #999;
}

li.active span.round-tabs.four{
	background: #3e5e9a !important;
	border: 2px solid #3e5e9a;
	color: #dddddd;
}

span.round-tabs.five{
	color: #999;border: 2px solid #999;
}

li.active span.round-tabs.five{
	background: #fff !important;
	border: 2px solid #ddd;
	color: #999;
}

.nav-tabs > li.active > a span.round-tabs{
	background: #fafafa;
}
.nav-tabs > li {
	width: 20%;
}
/*li.active:before {
    content: " ";
    position: absolute;
    left: 45%;
    opacity:0;
    margin: 0 auto;
    bottom: -2px;
    border: 10px solid transparent;
    border-bottom-color: #fff;
    z-index: 1;
    transition:0.2s ease-in-out;
}*/
.nav-tabs > li:after {
	content: " ";
	position: absolute;
	left: 45%;
	opacity:0;
	margin: 0 auto;
	bottom: 0px;
	border: 5px solid transparent;
	border-bottom-color: #ddd;
	transition:0.1s ease-in-out;

}
/*.nav-tabs > li.active:after {*/
	/*content: " ";*/
	/*position: absolute;*/
	/*left: 45%;*/
	/*opacity:1;*/
	/*margin: 0 auto;*/
	/*bottom: 0px;*/
	/*border: 10px solid transparent;*/
	/*border-bottom-color: #ddd;*/

/*}*/
.nav-tabs > li a{
	width: 50px;
	height: 50px;
	margin: 20px auto;
	border-radius: 100%;
	padding: 0;
	border: none;
}

.nav-tabs > li a:hover{
	background: transparent;

}

.tab-content{
}
.tab-pane{
	position: relative;
	padding-top: 30px;
}
.tab-content .head{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 25px;
	text-transform: uppercase;
	padding-bottom: 10px;
}
.btn-outline-rounded{
	padding: 10px 40px;
	margin: 20px 0;
	border: 2px solid transparent;
	border-radius: 25px;
}

.btn.green{
	background-color:#5cb85c;
	/*border: 2px solid #5cb85c;*/
	color: #ffffff;
}



@media( max-width : 585px ){

	.board {
		width: 90%;
		height:auto !important;
	}
	span.round-tabs {
		font-size:16px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.tab-content .head{
		font-size:20px;
	}
	.nav-tabs > li a {
		width: 50px;
		height: 50px;
		line-height:50px;
	}

	.nav-tabs > li.active:after {
		content: " ";
		position: absolute;
		left: 35%;
	}

	.btn-outline-rounded {
		padding:12px 20px;
	}
}
.panel-education{
	background: transparent;
}